.banner-container{
    display: grid;
    grid-template-columns: 4fr 5fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
@media only screen and (max-width: 600px) {
    .banner-container{
        grid-template-columns: 1fr;
    }
  }